#################
###   macOS   ###
#################
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

#################
### React App ###
#################
node_modules/
.parcel-cache/
dist/
.env
coverage/
.vscode/